* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

body {
  background-color: #F5F6FA;
}

.logo {
  width: 120px;
  margin-left: 50px;
  padding: 10px 0;
  background-color: #E02A57;
}

.header {
  background-color: #E02A57;
  width: 100%;
}

.container-flex {
  display: flex;
  flex-direction: column;
  margin: 50px 200px;
  flex-wrap: wrap;
}

.titulo {
  margin-top: 40px;
  margin-bottom: 100px;
  margin: 40px 0 100px 0;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #333333;
}

.imagem img {
  border-radius: 8px;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 150px 0;
}

.artigo {
  margin: 0 0 0 50px;
}

.artigo h2 {
  color: #333333;
  margin: 32px 0;
  font-size: 32px;
}

.artigo p {
  color: #333333;
  font-size: 16px;
  margin: 16px 0;
}


.botao-carteira {
  background-color: #E02A57;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #E02A57;
  cursor: pointer;
  margin-top: 50px;
}

.botao-carteira:hover {
  background-color: white;
  color: #E02A57;
}

.banner {
  color: white;
  background-color: #E02A57;
  text-align: center;
  padding: 40px 60px;
  margin: 40px 0 0 0;
  border-radius: 8px;
}

.banner h2 {
  font-size: 48px;
  font-family: sans-serif;
  margin: 40px 0;
}

.banner p {
  font-size: 16px;
  margin: 16px 0;
}

.botao-conta {
  background-color: #333333;
  font-size: 16px;
  padding: 12px 24px;
  color: white;
  border: 2px solid #333333;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.botao-conta:hover {
  background-color: white;
  color: #333333;
}

footer {
  margin-top: 200px;
  display: block;
  background-color: #333333;
  text-align: center;
  padding: 50px;
}

footer a {
  color: white;
  display: block;
}

@media (max-width:1200px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .imagem img {
    max-width: 350px;
    margin: 0 auto;
  }

  .artigo {
    margin: 0 auto;
  }

  

}

@media (max-width:600px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
  }
  .container-flex {
    margin: 0 auto;
  }

  .imagem img {
    max-width: 300px;
    margin: 0 auto;
  }

  .artigo {
    margin: 0 auto;
  }

  

}

@media (max-width:300px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
  }

  .imagem img {
    max-width: 150px;
    margin: 0 auto;
  }

  .artigo {
    margin: 0 auto;
  }

  

}